/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



// Helper classes
.whitespace40 { clear:both; height: 4em; }
.whitespace30 { clear:both; height: 3em; }
.whitespace20 { clear:both; height: 2em; }
.whitespace10 { clear:both; height: 1em; }

.m-right15 { margin-right:15px; }
.m-right25 { margin-right:25px; }
.m-left15 { margin-left:15px; }
.m-left25 { margin-left:25px; }
.m-lat15 { margin:0 15px; }
.m-lat25 { margin:0 25px; }
.m-top6 { margin-top: 6px; } 

.text-white { color:#fff; }
